:root {
    font-size: 62.5%;
    --navy: #202A44;
    --carolinaBlue: #99BADD;
    --grey: #eaeaea;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    background-image: linear-gradient(to left, #202A44, #99BADD);
    font-size: 3.6rem;
    color: white;
    height: 100px;
    line-height: 100px;
    text-align: right;
    padding: 0 20px;
}

h2 {
    font-size: 2.0rem;
    color: var(--navy);
    margin-top: 15px;
}

h3 {
    font-size: 1.8rem;
    color: var(--carolinaBlue);
}

/* search container */
#city {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 1.6rem;
    margin-top: 15px;
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}

.submit {
    display: block;
    width: 100%;
    border-radius: 7px;
    border: none;
    font-size: 1.6rem;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    background-color: var(--carolinaBlue);
    color: var(--navy);
    cursor: pointer;
}

.submit:hover {
    background-color: var(--navy);
    color: var(--grey);
}

button {
    display: block;
    width: 100%;
    border-radius: 7px;
    border: none;
    font-size: 1.6rem;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    background-color: var(--navy);
    color: var(--grey);
    cursor: pointer;
}

#clear-history {
    width: 100%;
    border-radius: 7px;
    border: none;
    font-size: 1.6rem;
    padding: 10px;
    text-align: center;
    background-color: var(--grey);
    color: var(--navy);
    cursor: pointer;
    margin-top: 50px;
}

/* forecast container */
.today-p {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--navy);
}

.forecast-p {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--grey);
}

.img-icon {
    display: block;
}